/* Autor: Gorks */
/* Meu primeiro codigo css */


/* Default configs */
*{
    font-family: Bradley Hand, cursive;
    font-size: 14px;
    color: #2b2b4d;
    text-align: center;
    padding:0%;
}
 /* defout body */
body {
    background-color: #adcfce;
    margin: auto;
    box-shadow: #885ea8;
}
 /* paragrafos */
p {
    border: 1px solid #6f3254;
  }

 /* titulos h1 */
h1 {
    color:#6f3254; 
    font-size: 35px;
    text-decoration: underline;
}

 /* titulos h2 */
h2 {
    color:#6f3254;
    font-size: 20px;
}
 /* titulos h3 */
h3 {
    color:#6f3254; 
    font-size: 15px;
 }

 /* titulos h4 */
h4 {
    color:#885ea8; 
  }

/* tabelas */
table, th, td {
    border: 2px solid #885ea8;
    border-radius: 7px;

}